**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt
Elite.cjs
logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
ELite.js
artist.js
artist.cjs
simulate.js
simulate-celo.cjs
Stacks Repo.txt
*.log
fetch_celo_balances.js
distribute_celo.js
scripts*
distribute-stacks.js
distribute-stacks-test.js
simulate-stacks.js
